[submodule ".mlcai"]
	path = .mlcai
	url = mlc@nas.local:/var/services/homes/mlc/repositories/dochub/mlcupscale-mlcai.git
[submodule "mlcprodweb"]
	path = mlcprodweb
	url = mlc@nas.local:/volume1/homes/mlc/repositories/product/mlcupscale.git
[submodule "third_party/realesrgan-ncnn-vulkan"]
	path = third_party/realesrgan-ncnn-vulkan
	url = https://github.com/xinntao/Real-ESRGAN-ncnn-vulkan.git
